ul,
li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 24px;
  column-gap: 24px;
  background-color: #fff;
  padding: 25px;
  margin: 0 auto;
  max-width: 1366px;
}
.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  min-width: 300px;
}
.gallery-image {
  aspect-ratio: 360/300;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.04);
}
.gallery-link {
  cursor: url(../cursor.svg), auto;
}
